body {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

canvas {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    width: auto;
    display: block;
}

h1 {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.settingsMenu {
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

span {
    font-weight: bolder;
    font-size: larger;
}